<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee  http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
        version="3.1">
    <servlet>
        <servlet-name>RestApi</servlet-name>
        <servlet-class>cache.ws.RestApi</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>RestApi</servlet-name>
        <url-pattern>/ping</url-pattern>
    </servlet-mapping>
</web-app>